# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tfplan
.terraform.lock.hcl
override.tf
override.tf.json

# Secrets
*.pem
*.key
*.p12
.env
.env.*
secrets.json

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
.pytest_cache/

# Docker
*.tar

# AWS
.aws/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
